.header {
  display: grid;
  grid-template-columns: 2fr 4fr 1fr;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  background: rgb(142, 132, 108);
  margin-bottom: 0.5rem;
  .title {
    padding: 0.5rem 1rem;
    font-weight: 600;
    font-family: cursive;
    letter-spacing: 2px;
    font-size: 27px;
    border-bottom: none;
    color: black;
    background: rgb(162, 53, 53);
    span{
        color:white;
        text-decoration: none;
        border:3px solid black;
        padding:.1rem .15rem;
        &:hover{
            background:white;
            color: rgb(162, 53, 53);
            transition: all 500ms ease-in-out;
        }
    }
  }
  .action {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    .item_count {
      position: absolute;
      font-weight: bold;
      color: black;
      text-decoration: none;
    }
    .checkout{
      background: rgb(235, 230, 231);
      border:none;
      padding: 0.3rem .5rem;
      border-radius: 3px;
      font-size:16px;
      &:hover{
        background: rgb(175, 161, 163);
        scale:1.01;
        cursor: pointer;
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .header {
    grid-template-columns: 3fr 0fr 1fr;
  }
}
